body{
    background-color: #F9F5EB;
}


img{
    border-radius: 50%;
    width: 300px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.nav{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 25px;
    
}

.vl {
    border-left: 6px solid black;
    height: 500px;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
  }

.info{
    position: absolute;
    left: 25%;
   
    
}
    